body  {font-size: 14pt;
       font-family: SansSerif;
       margin-left: 0;
       margin-right: 0;
       color: black}

p   {font-size: medium;
     font-weight: normal;
     margin-left: 0
     margin-top: 10
     margin-bottom: 10}

h1  {color: #093F70;
     font-size: x-large;
     font-weight: bold;
     align: right;
     margin-top: 5;
     margin-bottom: 5}

h2 {color: #093F70;
    font-size: large;
    font-weight: bold;
     margin-top: 5;
     margin-bottom: 5}

h3 {color: #093F70;
    font-size: medium;
    font-weight: bold;
     margin-top: 5;
     margin-bottom: 5}

h4 {color: #093F70;
    font-size: medium;
    font-weight: bold;
     margin-top: 5;
     margin-bottom: 5}

h5 {font-size: x-small;
    font-weight: bold;
     margin-top: 5;
     margin-bottom: 5}

h6 {font-size: medium;
     font-weight: normal;
     margin-left: 0;
     margin-top: 10;
     margin-bottom: 10}

li p {margin-top: 0;
    margin-bottom: 0}

menu li p {margin-top: 0;
    margin-bottom: 0}

menu li {margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0}

menu {margin-left: 25;
    margin-top: 0;
    margin-bottom: 0}

dir li p {margin-top: 0;
    margin-bottom: 0}

dir li {margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0}

dir {margin-left: 40;
    margin-top: 0;
    margin-bottom: 0}

dd p {margin-left: 40;
    margin-top: 0;
    margin-bottom: 0}

dt {margin-top: 0;
    margin-bottom: 0}

dl {margin-left: 10;
    margin-top: 0;
    margin-bottom: 0}

ol li {margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0}

ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25;
    list-style-type: decimal
}

ol li p {margin-top: 0;
    margin-bottom:0}

ul li {margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0}

ul {margin-top: 0;
    margin-bottom: 0;
    margin-left: 25;
    list-style-type: disc;
    -bullet-gap: 10}

ul li ul li {margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0}

ul li ul {list-style-type: circle;
    margin-left: 12}

ul li ul li ul li {margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0}

ul li ul li ul {list-style-type: square;
    margin-left: 12}

ul li menu {list-style-type: circle;
    margin-left: 12}

ul li p {margin-top: 0;
    margin-bottom:0}

a {color: blue;
   text-decoration: underline}

big {font-size: x-large}

small {font-size: x-small}

samp {font-size: small;
      font-family: Courier}

cite {font-style: italic}

code {font-size: medium;
      font-family: Courier}

dfn {font-style: italic}

em {font-style: italic}

i  {font-style: italic}

b  {font-weight: bold}

kbd {font-size: small;
     font-family: Courier}

s {text-decoration: line-through}

strike {text-decoration: line-through}

strong {font-weight: bold}

sub {vertical-align: sub}

sup {vertical-align: sup}

tt {font-family: Courier}

u {text-decoration: underline}

var {font-weight: bold;
     font-style: italic}

table {
	border-color: Gray;
	border-style: outset;
	margin-top: 0;
       	margin-bottom: 0;
       	margin-left: 0;
	margin-right: 0
}

td {
	border-color: Gray;
	border-style: inset;
	padding-left: 1;
	padding-right: 1;
	padding-top: 1;
	padding-bottom: 1
}

th {
	border-color: Gray;
	border-style: inset;
	padding-left: 1;
	padding-right: 1;
	padding-top: 1;
	padding-bottom: 1
}

td p {
	margin-top: 0;   
	padding-top: 1;
	padding-bottom: 1;
	padding-left: 1;
	padding-right: 1
}

th p { 
	margin-top: 0;   
	font-weight: bold;
	padding-top: 1;
	padding-bottom: 1;
	padding-left: 1;
	padding-right: 1
}

address {
	color: blue;
	font-style: italic
}

blockquote {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 20;
	margin-right: 20
}

center {text-align: center}

pre {margin-top: 5;
     margin-bottom: 5;
     font-family: Courier}

pre p {margin-top: 0}
